@import url('https://fonts.googleapis.com/css2?family=Inter&family=Shadows+Into+Light+Two&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

:root {
--primary: #F74F22;
--secondary: #FF9800;
--text: #1E1E1E;
--background: #FAFAFA;
--bg: #F8FAFC;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Inter', Shadows Into Light Two;
}
a{
  text-decoration: none;
  
}
li{
  list-style: none;
  justify-content: space-between;
  align-items: flex-end;
}
button{
  border: var(--primary);
  outline: var(--primary);
  text: var(--background);
}
.section{
  padding: 150px 100px;
}
.section h1{
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
}

/* NAVBAR */
.header{
  position: absolute;
  width: 1600px;
  height: 87px;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F8FAFC;
  margin: 5px 10;
  padding: 1.3rem 7%;
}
.navbar span{
  font-weight: 700;
  font-size: 1.85rem;
}
.navbar span:hover{
  cursor: pointer;
  color: var(--primary);
}
.navbar ul{
  display: flex;
  gap: 1.7rem;
}
.nav-links{
  text-decoration: none;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  color: var(--text);
}
.nav-links:hover{
  color: var(--primary-color);
}

.navbar button{
  background-color: #dc3545;
  color: var(--white-color);
  padding: 0.8rem 1.85rem;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
}
.navbar button:hover{
  background-color: #bb2d3b;
  border-color: #b02a37;
  box-shadow: 0 0 0 0.25rem rgb(225 83 97 / 50%);
}
.active{
  color: var(--primary-color);
}

.carousel-item >div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* HERO SECTION */
.hero-section{
  width: 100vw;
  min-height: 100vh;
  position: relative;
}


/* Hero row */
.row{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
/* Hero Text Container */
.row .text-container{
  width: 25rem;
  color: var(--white-color);
}
.row .text-container h1{
  font-size: 4.8rem;
  font-weight: 700;
}
.feedback {
  margin: 2rem 0 0.6rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.feedback h4{
  font-size: 1.75rem;
  font-weight: 600;
}
.feedback .star-icons .fa-star{
  color: var(--secondary-color);
  font-size: 1rem;
}
.text-container p{
  font-size: 1.2rem;
}
/* Hero Carousel */
.row .carousel{
  width: 40rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
}
.row .carousel img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.row .carousel .text-content{
  position: absolute;
  bottom: 6%;
  left: 3%;
  color: var(--white-color);
  z-index: 100;
}
.text-content .food-info{
  display: flex;
  gap: 1.3rem;
  align-items: center;
}
.text-content .food-info h4{
  font-size: 1.7rem;
  font-weight: 600;
}

.pill-btn{
  padding: 1rem;
  color: var(--secondary-color);
  background-color: var(--white-color);
  font-size: 1.2rem;
  border-radius: 2rem;
}

/* SPECIAL MENUS */
.grid-box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 50px 0;
}
.col .img-wrap{
  width: 100%;
  position: relative;
}
.col .img-wrap img{
  width: 100%;
  height: 100%;
}
.col .img-wrap span.meal{
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 3px;
  position: absolute;
  top: 4%;
  right: 4%;
}
.col .text-box {
  padding: 0.75rem 1rem;
}
.col .text-box h4{
  font-size: 2rem;
  font-weight: 500;
}
.col .text-box .pill-btn{
  margin: 0.5rem;
  box-shadow: 2px 5px 4px 3px rgba(0,0,0,0.3);
}
.col .text-box .feedback{
  margin-top: 0.75rem;
}
.menu-review{
  display: flex;
  gap: 1rem;
  align-items: center;
}
.menu-review span{
  color: var(--p-color);
  font-size: 1.2rem;
  font-weight: 200;
}



	.header {
		flex-direction: column;
		align-items: center;
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}

  @media (min-width: 769px) {
    .header,
    .main-nav {
      display: flex;
    }
  }
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}



